.outer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.first{
    padding: 0 20px;
    margin-left: 10px;
}

.nav{
    color: black;
}

.second{
    display: flex;
    gap: 20px;
}

.opt{
    color: black;
    cursor: pointer;
    padding: 0 20px;
    border: 1px solid black;
    border-radius: 10px;
    
}

.opt:hover{
box-shadow: 0 4px 8px 0 black;
}